/* @import '~antd/dist/antd.less'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: <weight>; */
    /* font-style: normal; */

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #ffffff;
    --text-color: #000;
    --card-background-color: #fff;
    --link-color: #1890ff;
}

[data-theme='dark'] {
    --background-color: #1f1f1f;
    --text-color: #fff;
    --card-background-color: #333;
    --link-color: #1890ff;
}

html {
    @apply dark:bg-dark bg-light;
}

body {
    /* background-color: var(--background-color);
  color: var(--text-color); */
    @apply dark:bg-dark;
}

.content {
    background-color: var(--background-color);
    color: var(--text-color);
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: #d5dadd8c;
    border-radius: 10px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #d5dadd8c;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    background-color: rgb(189, 189, 189);
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #24323a8c;
    border-radius: 10px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5dadd8c;
}

.hero {
    opacity: 1;
    background-image: radial-gradient(#444df7f8 0.5px, transparent 0.5px),
        radial-gradient(#444cf7 0.2px, #e5e5f700 0.9px);
    background-size: 20px 20px;
    background-position: fixed;
    background-attachment: fixed; /* Add this line */
}

.banifite-bg-content {
    position: relative;
    z-index: 1;
}

.banifite-bg-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230039f1' fill-opacity='0.16'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: fixed;
    background-attachment: fixed;
}

/* .payment-form input::placeholder{
  color: white;
} */

/* Add this CSS to your stylesheet */
.input-container {
    position: relative;
    background: #148cdb09; /* Background color for input fields */
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}

.input-container .StripeElement {
    width: 100%;
    padding: 4px;
    font-size: 16px;
    color: #424770;
    border: none;
    outline: none;
    background: transparent;
}

@media screen and (max-width: 768px) {
    .input-container {
        width: 100%;
    }
}

.dropdown-container {
    background-color: #192730 !important; /* Change this to your desired background color */
}

.dropdown-menu {
    background-color: #192730 !important; /* Change this to your desired dropdown menu background color */
    /* Add any additional styling for the dropdown menu here */
}

.active {
    background-color: blue;
}

.ant-menu li {
    /* background : red!important */
}

:where(.css-dev-only-do-not-override-17seli4).ant-menu-light
    .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-17seli4).ant-menu-light
    > .ant-menu
    .ant-menu-item-selected {
}

.chart-container {
    width: 100%;
    height: 100%;
}
.ant-progress-text {
    @apply dark:!text-white;
}

.stock-progress .ant-progress-inner {
    @apply !w-[180px] !h-[180px];
}

.ant-table {
    @apply dark:bg-light-dark dark:!text-light border dark:border-gray-600 !rounded-xl !overflow-hidden dark:shadow-none shadow-xl shadow-[#8080800e];
}
.ant-table-cell {
    @apply dark:!bg-light-dark dark:!text-light dark:!border-gray-600;
}
.ant-btn-icon {
    @apply dark:!text-white;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
        .ant-table-row-expand-icon-cell
    ):not([colspan])::before,
:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper
    .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(
        .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    @apply dark:bg-gray-600;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination
    .ant-pagination-item-active {
    @apply !bg-gray-600 !text-light;
}

.ant-pagination-prev {
    @apply !bg-gray-600 !text-light !border-gray-200;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-pagination
    .ant-pagination-item-active
    a {
    @apply !bg-gray-600 !text-light;
}

.ant-pagination-next {
    @apply !bg-gray-600 !text-light;
}
.ant-pagination-item-link {
    @apply !bg-gray-600 !text-light;
}

.custom-select {
    @apply dark:text-light text-dark;
}

.custom-select option {
    background-color: #ffffff00 !important; /* Background color for the options */
    color: #000000; /* Text color for the options */
}

.upload-box :where(.css-dev-only-do-not-override-j9bb5n).ant-btn-default {
    @apply absolute md:top-7 rounded top-9 left-0 right-0  bottom-0 w-full bg-transparent hover:!bg-transparent dark:text-light text-dark h-[40px] dark:border-gray-700 text-start;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper
    .ant-upload-list.ant-upload-list-picture
    .ant-upload-list-item,
:where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper
    .ant-upload-list.ant-upload-list-picture-card
    .ant-upload-list-item,
:where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper
    .ant-upload-list.ant-upload-list-picture-circle
    .ant-upload-list-item {
    @apply mt-7 border-red-500 border-dashed !text-red-500;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-upload-wrapper
    .ant-upload-list
    .ant-upload-list-item
    .ant-upload-list-item-actions
    .anticon {
    color: rgb(236 22 22);
    transition: all 0.3s;
}

.edit-img :where(.css-dev-only-do-not-override-j9bb5n).ant-btn-default {
    @apply absolute top-0 left-0 right-0  bottom-0 w-full bg-transparent hover:!bg-transparent dark:text-light text-dark   dark:border-gray-700 text-start;
}

/* edit modal */
:where(.css-dev-only-do-not-override-j9bb5n).ant-modal .ant-modal-content {
    @apply dark:bg-light-dark dark:text-light;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-modal
    .ant-modal-content
    input {
    @apply dark:bg-light-dark dark:text-light dark:border-gray-700;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-modal
    .ant-modal-content
    label {
    @apply dark:text-gray-400;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-modal .ant-modal-header {
    @apply bg-transparent dark:!text-light;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-modal .ant-modal-title {
    @apply dark:!text-light text-xl pb-5;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-modal .ant-modal-close {
    @apply dark:text-red-500;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-picker .ant-picker-suffix {
    @apply dark:text-gray-400 text-dark;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-picker-dropdown
    .ant-picker-panel-container {
    @apply dark:bg-light-dark dark:!text-light text-dark;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-picker-dropdown
    .ant-picker-header {
    @apply dark:bg-light-dark dark:!text-light text-dark;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-picker-dropdown
    .ant-picker-header
    button {
    @apply dark:text-gray-400 text-dark;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-picker-dropdown
    .ant-picker-content
    th {
    @apply dark:!text-gray-400 text-dark;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-picker-dropdown
    .ant-picker-cell {
    @apply dark:text-blue-500;
}

.select-box select:focus {
    @apply w-full border dark:bg-dark;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-single {
    @apply !w-full;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-outlined:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    @apply dark:bg-light-dark bg-transparent !h-[42px] flex items-center rounded dark:text-light text-gray-800 border-gray-700 !w-full;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select .ant-select-arrow {
    @apply dark:text-gray-400 mt-[1px] text-dark;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-dropdown {
    @apply dark:bg-light-dark bg-gray-100 dark:text-light border border-gray-300 dark:border-gray-600;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-dropdown
    .ant-select-item {
    @apply dark:text-gray-400;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-dropdown
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    @apply dark:bg-gray-900  dark:text-light;
}

.ant-select-focused:where(
        .css-dev-only-do-not-override-j9bb5n
    ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer)
    .ant-select-selector {
    @apply dark:border-gray-300  border-gray-800 !shadow-none;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-outlined:not(
        .ant-select-disabled
    ):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover
    .ant-select-selector {
    @apply dark:border-gray-300  border-gray-800 !shadow-none   hover:!border-gray-700;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined:focus-within {
    @apply hover:shadow-none;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined:focus-within {
    @apply hover:shadow-none !border-gray-700;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-tabs .ant-tabs-tab {
    @apply dark:!text-light text-gray-700 border-gray-700;
}

::before,
::after {
    @apply dark:!border-gray-800;
}

/* modal overlay */
:where(.css-dev-only-do-not-override-j9bb5n).ant-modal-root .ant-modal-mask {
    @apply bg-[#0000002d];
}

/* modal body */
:where(.css-dev-only-do-not-override-j9bb5n).ant-modal .ant-modal-content {
    @apply shadow-none;
}

input::placeholder {
    @apply dark:!text-gray-300 !text-gray-800;
}
textarea::placeholder {
    @apply dark:!text-gray-300 !text-gray-800;
}
select::placeholder {
    @apply dark:!text-gray-300 !text-gray-800;
}

/* select border */
:where(.css-dev-only-do-not-override-j9bb5n).ant-select-outlined:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    @apply border-gray-700;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-outlined:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    @apply dark:border-gray-700 border-[#e0dddd] hover:!border-blue-400 focus-visible:!border-red-500;
}

/* tab color */
:where(.css-dev-only-do-not-override-3rel02).ant-tabs .ant-tabs-tab {
    @apply dark:text-light text-dark;
}

/* edit modal input size */
.ant-input {
    @apply h-[40px] bg-transparent hover:bg-transparent focus-visible:!bg-transparent;
}
.ant-select {
    @apply h-[40px] bg-transparent;
}

:where(.css-dev-only-do-not-override-3rel02).ant-select-outlined:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    @apply bg-transparent text-light;
}

/* ant design modal */
.ant-modal-content {
    @apply dark:bg-light-dark;
}

/* select */
:where(.css-dev-only-do-not-override-3rel02).ant-select-dropdown {
    @apply dark:bg-dark dark:text-light;
}
:where(.css-dev-only-do-not-override-3rel02).ant-select-dropdown
    .ant-select-item {
    @apply dark:text-light text-dark;
}
.ant-select-selection-placeholder {
    @apply dark:text-light text-dark;
}
.ant-modal-header {
    @apply !bg-transparent dark:!text-light !text-dark !pb-4;
}
.ant-modal-title {
    @apply !bg-transparent dark:!text-light !text-dark;
}
.ant-modal-close {
    @apply dark:text-blue-500 text-dark;
}

/* ChartOfAccountTable.css */

.custom-tabs .ant-tabs-nav {
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
    white-space: nowrap; /* Prevent tabs from wrapping */
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab {
    font-size: 14px;
    flex: 1 0 auto;
}

.custom-tabs .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 16px; /* Adjust spacing between tabs */
}

.custom-tabs .ant-tabs-nav {
    @apply md:w-full w-[350px];
}
.custom-tabs {
    @apply w-full;
}

/* pagenation */
:where(.css-dev-only-do-not-override-3rel02).ant-pagination
    .ant-pagination-item
    a {
    @apply dark:!text-light text-dark border rounded;
}

:where(.css-dev-only-do-not-override-3rel02).ant-pagination
    .ant-pagination-item-active {
    @apply bg-blue-600;
}

/* date piker */
:where(.css-dev-only-do-not-override-3rel02).ant-picker-outlined {
    @apply bg-transparent hover:!bg-transparent focus-within:!bg-transparent focus-visible:!bg-transparent !text-light dark:border-gray-700 !shadow-none w-full;
}

:where(.css-dev-only-do-not-override-3rel02).ant-picker .ant-picker-suffix {
    @apply dark:!text-[#837f7f];
}
:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-panel-container {
    @apply dark:bg-light-dark dark:!text-light;
}
:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-header {
    @apply dark:!text-light text-dark dark:!bg-gray-600;
}

:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-footer {
    @apply dark:!text-light text-dark dark:!bg-gray-600;
}

:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-header
    button {
    @apply dark:!text-light text-dark;
}

:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-cell-in-view {
    @apply dark:!text-light text-dark;
}

:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-content
    th {
    @apply dark:!text-light text-dark;
}

:where(.css-dev-only-do-not-override-3rel02).ant-picker-dropdown
    .ant-picker-cell {
    @apply dark:!text-red-500 text-dark;
}

.shape-1 {
    clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
}

/* pdf print */
@media screen {
    .print-box {
        display: none;
    }
}

@media print {
    .print-box {
        display: block !important;
    }
}


.container-home {
    @apply px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl pt-20;
}


/* demo */
.demo-box .list {
  position: relative;
}

.list::before, .list::after{
  content: '';
  position: absolute;
  left: -28px;
  background-color: gray;
}

.list::before{
  height: 1px;
  width: 16px;
  top: 10.4px;
} 

.list::after{
  height: 26px;
  width: 1px;
  top: -14px;
}

li.list:after {
   height: 100%;
   top: 12px;
}

li.list:last-child:after{
content: none;
}

summary{
  display: block;
  position: relative;
  cursor: pointer;
}

summary::before{
  content: '+';
  position: absolute;
  cursor: pointer;
  background-color: #444cf7;
  color: rgb(255, 255, 255);
  width: 18px!important;
  height: 18px!important;
  left: -22px;
  top: 2px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
  padding: 0px 0px 2px 0px;
}

label{
  @apply dark:!text-gray-300 text-dark
}


.ant-empty-image{
  @apply flex items-center justify-center
}

.ant-dropdown-menu {
  @apply dark:!bg-light-dark bg-light dark:!text-light text-dark
}

.ant-dropdown-menu li {
  @apply dark:!bg-light-dark hover:bg-[#80808023] bg-light dark:!text-light text-dark
}

input{
  background-color: transparent!important;
}

select{
  background-color: transparent!important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  @apply bg-transparent dark:text-light text-dark
}

.ant-pagination{
  @apply dark:bg-light-dark px-2 py-3 !sticky !bottom-0
} 
.ant-table-content table{
  border: none!important;
}
 

 :where(.css-dev-only-do-not-override-f7vrd6)[class^="ant-table"] [class^="ant-table"], :where(.css-dev-only-do-not-override-f7vrd6)[class*=" ant-table"] [class^="ant-table"], :where(.css-dev-only-do-not-override-f7vrd6)[class^="ant-table"] [class*=" ant-table"], :where(.css-dev-only-do-not-override-f7vrd6)[class*=" ant-table"] [class*=" ant-table"] {
     @apply border-none shadow-none
}


:where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-thead >tr>td {
    @apply dark:bg-light-dark bg-[#fafafa] !py-3
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-pagination.ant-pagination{
  @apply m-0
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-divider-horizontal{
  @apply !px-0 !py-0 !m-0 
}


:where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none!important;
}
 

/* pagination */
:where(.css-dev-only-do-not-override-f7vrd6).ant-pagination .ant-pagination-item-active{
  @apply bg-primary dark:text-light text-light
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-pagination .ant-pagination-item-active a {
@apply dark:text-light text-light
}
:where(.css-dev-only-do-not-override-f7vrd6).ant-pagination .ant-pagination-item a{
  @apply dark:text-light text-dark
}
 

input{
 @apply border dark:!border-gray-700 !border-gray-200 dark:text-light text-dark
}
.ant-select-selector{
 @apply border dark:!border-gray-700 !border-gray-200 dark:!text-light !text-dark
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-select-dropdown{
 @apply  border dark:!bg-gray-700 !bg-light dark:!text-light !text-dark
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-select .ant-select-arrow {
  @apply dark:!text-light !text-dark
}

.ant-modal-header{
  @apply !p-0 !m-0
}

.ant-modal-title{
  @apply !pb-2 !border-b !mb-4 dark:border-gray-700 border-gray-200
}
=======
/* Jodit css  */

.jodit-editor ul,
.jodit-editor ol {
  /* List styles */
  padding-left: 20px;
  /* Adjust as needed */
}

.jodit-editor ul li,
.jodit-editor ol li {
  /* List item styles */
  list-style-type: disc;
  /* Unordered list marker style */
  margin-bottom: 5px;
  /* Adjust as needed */
}

.jodit-editor ol li {
  /* Additional styles for ordered list items */
  list-style-type: decimal;
  /* Ordered list marker style */
}

/* Targeting unordered and ordered lists within JoditEditor */
.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
  padding-left: 20px;
  /* Adjust as needed */
}

/* Default unordered list item */
.jodit-wysiwyg ul li {
  list-style-type: disc;
  /* Unordered list marker style */
  margin-bottom: 5px;
  /* Adjust as needed */
}

/* Specific styles for different unordered list types */
.jodit-wysiwyg ul.circle li {
  list-style-type: circle;
  /* Circle marker style */
}

.jodit-wysiwyg ul.square li {
  list-style-type: square;
  /* Square marker style */
}

/* Default ordered list item */
.jodit-wysiwyg ol li {
  list-style-type: decimal;
  /* Ordered list marker style */
  margin-bottom: 5px;
  /* Adjust as needed */
}

/* Specific styles for different ordered list types */
.jodit-wysiwyg ol.lower-alpha li {
  list-style-type: lower-alpha;
  /* Lowercase alphabetic marker style */
}

.jodit-wysiwyg ol.lower-greek li {
  list-style-type: lower-greek;
  /* Lowercase Greek marker style */
}
 